In [1]:
import test

In [2]:
test.func2(12,13)

Sum: 25

In [3]:
import test as t

In [4]:
t.func4(12,4)

3.0

In [7]:
from test import tabel,func2

In [8]:
tabel()

Enter the value: 112

112 * 1 = 112
112 * 2 = 224
112 * 3 = 336
112 * 4 = 448
112 * 5 = 560
112 * 6 = 672
112 * 7 = 784
112 * 8 = 896
112 * 9 = 1008
112 * 10 = 1120

In [10]:
func2(101,102)

Sum: 203

In [11]:
from test import *

In [12]:
import main_mod.mod1 as md

In [14]:
md.tabel()

Enter the value: 13

13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

In [15]:
from main_mod.sub_mod.mod2 import func4

In [16]:
func4(12,5)

2.4